*{
    margin: 0;
    padding: 0;
   
}

body{
    max-width: 1767px;
    width: 100%;
}
#company-logo
{
    width: 234px;
    height: 115.17px;
    position: absolute;
    top: 61px;
    left: 189px;
}
.color-container{
    width: 900px;
    height: 900px;
    background: #EFECE5;
    border-radius: 50%;
    position: absolute;
    top: -650px;
    left: -478px;
}
nav{
    position: absolute;
    top:108px;
    display: flex;
}
ul{
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    line-height: 100%;
    display: flex;   
}
#li-1{
    border: 2px solid white;
    width: 96px;
    height: 33px;
    position: absolute;
    left: 617px;
}
#li-2{
    border: 2px solid white;
    width: 216px;
    height: 33px;
     position: absolute;
     left: 765px;
}
#li-3{
    border: 2px solid white;
    width: 186px;
    height: 33px;
    position: absolute;
    left: 1020px;
}
#li-4{
    border: 2px solid white;
    width: 78px;
    height: 33px;
    position: absolute;
    left: 1245px;
}
ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}
#button{
    width: 194px;
    height: 47px;
    position:absolute;
    top: -16px;  
    left: 1375px; 
    border-radius: 9px;
    background-color: #003A70;
    border-color: white;

}
#button p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size:16px;
    color: #ffffff;
    line-height: 100%;    
}
/* header end  */
#image{
    width: 1620px;
    height: 590px;
    position: absolute;
    top: 220px;
    left: 73px;
    color: #000000;
}
.image-container #welkom 
{
    width: 270px;
    height: 117px;
    position: absolute;
    top: 620px;
    left: 742px;
    font-family: 'Des Montilles', 'Georgia', 'Cambria', 'Times New Roman', serif;
    font-weight: 400;
    font-size: 65px;
    line-height: 100%;
    color: #ffffff;

}
.image-container #intro-text-bold
{
    width: 381px;
    height: 29px; 
    position: absolute;
    top: 704px;
    left: 681px;
    font-family: 'Inter', sans-serif; 
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #ffffff;
}
#intro-heading{
    width: 481px;
    height: 73px;
    position: absolute;
    top: 853px;
    left: 628px;

    width: 700;
    font-size: 60px;
    line-height: 100%;
    color: #273F6A;
;
}
#intro-para{
    width: 834px;
    height: 184px;
    position: absolute;
    top: 954px;
    left: 450px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    text-align: center;


    
}
#mediators-box, #opleidingen-box, #incompany-box
{
    width: 300px;
    height:336px;
  
}
#mediators-box {
    position: absolute;
    top: 1120px;
    left: 351px;
    background-color: #CACDD3;
    overflow: hidden;
}
#opleidingen-box {
    position: absolute;
    top: 1120px;
    left: 721px;
    background-color: #EFECE5;
    overflow: hidden;
}
#incompany-box {
    position: absolute;
    top: 1120px;
    left: 1087px;
    background-color: #EFA4A3;
    overflow: hidden
;
}
.bg-color-mediators{
    height: 329px;
    width: 361px;
background-color: rgba(230, 235, 240, 0.6); /* Lighter, closer to white */
    border-radius: 50%;
    position:absolute;
    top:-140px;
    left: -140px;

}
.bg-color-opleidingen{
background: rgba(250, 248, 245, 1);  /* Light beige, almost white */

    height: 329px;
    width: 361px;
    border-radius: 50%;
    position:absolute;
    top:-140px;
    left: -140px;

;
}
.bg-color-incompany{

background: rgba(250, 220, 220, 0.6);  /* Light pink, semi-transparent */
    height: 329px;
    width: 361px;
    border-radius: 50%;
    position:absolute;
    top:-140px;
    left: -140px;
}
#mediators-box img{
    width: 136px;
    height: 136px;
    position:absolute;
    top: 12px;
    left: 23px;

}
#opleidingen-box img{
    width: 130px;
    height: 130px;
    position: absolute;
    top: 18px;
    left: 20px;   
}
#incompany-box img{
    width: 120px;
    height: 129px;
    position: absolute;
    top: 18px;
    left: 21px;
}
#mediatiors-heading{
    width: 198px;
    height: 50px;
    position: absolute;
    top: 138px;
    left: 20px;
    font-family: optima;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color:#273F6A;
    
}
#opleidingen-heading {
    width: 198px;
    height: 50px;
    position: absolute;
    top: 138px;
    left: 20px;
    font-family: optima;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #273F6A;
}
#incompany-heading{
    width: 198px;
    height: 50px;
    position: absolute;
    top: 135px;
    left: 19px;
    font-family: optima;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #003A70;

}
#mediatiors-para{
    width: 252px;
    height: 111px;
    position: absolute;    
    top: 199px;
    left: 20px;
    font-family: Inter;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: #000000;

}
#opleidingen-para{
    width: 252px;
    height: 111px;
    position: absolute;
    top: 199px;
    left: 20px;
    font-family: Inter;
    font-weight: 300px;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
}
#incompany-para{
    width: 252px;
    height: 111px;
    position: absolute;
    top: 199px;
    left: 24px;
    font-family: Inter;
    font-weight: 300;
    font-size:16px;
    line-height: 100%;
    color: #000000;
}
#mediators-link{
    text-decoration: none;
    width: 170px;
    height: 31px;
    position: absolute;
    top: 1477px;
    left: 363px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
 
}
.arrow1{
    width: 13px;
    height: 10px;
    position: absolute;
    top:  1482px;
    left: 510px;
    font-size: 10px;
}
#opleidingen-link{
    text-decoration: none;
    width: 170px;
    height: 31px;
    position: absolute;
    top: 1482px;
    left: 741px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
       

  
}
.arrow2{
 width: 13px;
 height: 10px;
 position: absolute;
 top: 1487px;
 left: 920px;
 font-size: 10px;
}
#incompany-link{
    text-decoration: none;
    width: 241px;
    height: 16px;
    position: absolute;
    top: 1482px;
    left: 1111px;
    font-family: Inter;
    font-weight: 400;
    font-size : 16px;
    line-height: 100%;
    color: #000000;

}
.arrow3{
  width: 13px;
  height: 10px;
  position: absolute;
  top: 1487px;
  left: 1356px;
  font-size: 10px;
}
#rectangle{
    width: 1767px;
    height: 334px;
    position: absolute;
    top: 1599px;
    background-color:  #C4CDD34A;


}
#rectangle-para{
    width: 1179px;
    height: 184px;
    position: absolute;
    top: 95px;
    left: 293px;
    font-family: optima;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
   
}
#rectangle-para-text{
    color: #9F8A58;
 

}
#meeting-image{
    width: 449px;
    height: 336px;
    position: absolute;
    top: 2019px;
    left: 366px;
}
#img-heading{
    width: 171px;
    height: 63px;
    position: absolute;
    top: 2006px;
    left: 855px;
    font-family: optima;
    font-weight: 700;
    font-size: 52px;
    line-height: 100%;
    color:#273F6A;

}
#img-para{
    width: 543px;
    height: 88px;
    position: absolute;
    top: 2080px;
    left: 855px;
    font-family: optima;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    color: #9F8A58;

}
#img-details{
    width: 488px;
    height: 405px;
    position: absolute;
    top: 2220px;
    left: 858px;
  
}

 
 .para-1{
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    line-height: 1.5;
 }
 .para-2{
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
 }
 /* .event-text{
   
    padding: 19px 0;
    
 } */
 .arrow4{
    width: 13px;
    height: 10px;
    position: absolute;
    top: 8px;
    left: 513px;
 }
 .arrow5{
    width: 13px;
    height: 10px;
    position: absolute;
    top: 95px;
    left: 513px;
 }
 .arrow6{
    width: 13px;
    height: 10px;
    position: absolute;
    top: 184px;
    left: 513px;
 }
 .arrow7{
    width: 13px;
    height: 10px;
    position: absolute;
    top: 272px;
    left: 513px;
 }
 .arrow8{
    width: 13px;
    height: 10px;
    position: absolute;
    top: 365px;
    left: 513px;
 }
 #line1{
    border-bottom:1px solid #003A70;
    width: 527px;
    height: 0px;
    position: absolute;
    top: 67px;
    left:1px;
}
 #line2{
    border-bottom: 1px solid #003A70;
    width: 527px;
    height: 0px;
    position: absolute;
    top: 154px;
    left: 1px;
}
 #line3{
    border-bottom: 1px solid #003A70;
    width: 527px;
    height: 0px;
    position: absolute;
    top: 245px;
    left: 1px;
} #line4{
    border-bottom: 1px solid #003A70;
    width: 527px;
    height: 0px;
    position: absolute;
    top: 329px;
    left: 1px;
}
#img-details{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.click-button{
    width: 194px;
    height: 47px;
    position: absolute;
    top: 2655px;
    left: 858px;
    background-color: #EFA4A3;
    border-radius: 9px;

}
.button-name{
    color:#FFFFFF;
    width: 160px;
    height: 31.76px;
    position: absolute;
    top: 14.43px;
    left: 20px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    
}
.button-arrow{
    width: 13px;
    height: 12.7px;
    position: absolute;
    /* top: 3.78px; */
    left: 146px;
    font-size: 13px;
}
/* #color-container2{  circle is displays right its size part
    width: 900px;
    height: 900px;
    border-radius: 50%;
    position: absolute;
    top: 2716px;
    left: 946px;
    background-color:#EFECE5;

} */
footer{
    background-color:#F5F5F5;
    width: 1767px;
    height: 665px;
    position: absolute;
    top: 2947px;
    
}
#logo-container{
    width: 219px;
    height: 107.33px;
    position: absolute;
    top: 99px;
    left: 181px;
}
/* #logo-circle{
} */
#logo-name{
    width: 79.88px;
    height: 61.65px;
    position: absolute;
    top: 9.91px;
    left: 13.54px;

}
#logo-details{
    width: 102.69px;
    height: 64.03px;
     position: absolute;
     top: 23.91px;
    left: 116.31px;
 
}
.footer-Opleidingen{
    width: 198px;
    height: 50px;
    position: absolute;
    top: 123px;
    left: 477px;
     font-family: 'Optima', 'Segoe UI', 'Candara', 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
 
    color: #273F6A;
}
.opeidingin-details
{
    width: 317px;
    height: 291px;
    position: absolute;
    top: 168px;
    left: 477px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    display:block;
    color: #000000;
}
.footer-Aanmelden{
    width: 198px;
    height: 50px;
    position: absolute;
    top: 123px;
    left: 885px;
    font-family: 'Optima', 'Segoe UI', 'Candara', 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color:#273F6A;


}
.aanmelden-details{
    width: 317px;
    height: 136px;
    position: absolute;
    top: 168px;
    left: 885px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    display:block;
    color: #000000;
}
.footer-Mediation{
    width: 198px;
    height: 50px;
    position: absolute;
    top: 301px;
    left: 885px;
   font-family: 'Optima', 'Segoe UI', 'Candara', 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color:#273F6A;

}
.mediation-details{
  width: 317px;
    height: 136px;
    position: absolute;
    top: 346px;
    left: 885px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    display:block;
    color: #000000;   

}
.footer-contact{
    width: 198px;
    height: 50px;
    position: absolute;
    top: 123px;
    left: 1293px;
    font-family: 'Optima', 'Segoe UI', 'Candara', 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color:#273F6A;
    
}
.Contact-details{
    width: 278px;
    height: 119px;
    position: absolute;
    top: 168px;
    left: 1293px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    display:block;
    color: #000000;   
  
}
.footer-adres{
      width: 198px;
    height: 50px;
    position: absolute;
    top: 324px;
    left: 1293px;
    font-family: 'Optima', 'Segoe UI', 'Candara', 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color:#273F6A;
}
.adres-details{
   width: 278px;
    height: 58px;
    position: absolute;
    top: 366px;
    left: 1293px;
    font-family: Inter;
    font-weight: 400;
    line-height: 180%;
    display:block;
    color: #000000;   
     
}
.adres-details li span{
    font-size: 12px;
}
.ContactmetMTi-button{
    width: 194px;
    height: 47px;
    position: absolute;
    top: 461px;
    left: 1293px;
    border-radius: 9px;
    background-color: #C4CDD3;
    color: #ffffff;
    border: none;
}
.ContactmetMTi-button p{
    width: 160px;
    height: 31.76px;
    position: absolute;
    top: 14.43px;
    left: 20px;

}
.ContactmetMTi-button p span{
    width: 13px;
    height: 12.7px;
    position: absolute;
    top:2.35px;
    left: 146px;
    
}
.companys-components{
    width: 579px;
    height: 55px;
    position:absolute;
    top: 535px;
    left: 626px;
}
.img-van{
    width: 70px;
    height: 35px;
    position: absolute;
    top: 12px;
    left: 0px;

   
}
.img-nmv{
    width: 103px;
    height: 29px;
    position: absolute;
    top: 15px;
    left: 129px;
}
.img-lvvv{
    width: 118px;
    height: 39px;
    position: absolute;
    top: 8px;
    left: 291px;
}
.img-mfa{
    width: 111px;
    height: 55px ;
    position: absolute;
    top: 0;
    left: 468px;
}
.copy-rights{
    width: 746px;
    height: 64px;
    position: absolute;
    top: 601px;
    left: 549px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    display: flex; 
    justify-content: center;
}